.wrapper {
    margin-top: 20px;
    padding: 13.5rem 5.25rem 3.5rem;
    max-width: 1250px;
    margin: 0 auto;
}

.description {
    font-size: 1.4rem;
    letter-spacing: 1.25px;
    line-height: 1.4;
    color: #6b6b6b;
    text-align: justify;
}

.description i {
    color: var(--primary);
    font-style: normal;
    font-weight: 600;
    display: block;
    margin-top: 1.2rem;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 13.5rem 2.5rem 3.5rem 3.25rem;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 12.5rem 1.5rem 3.5rem 3.25rem;
    }

    .description {
        font-size: 1.2rem;
    }
}