.table {
    position: relative;
    margin-top: 40px;
    align-items: center;
    border: 2px solid grey;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    letter-spacing: 1px;
    word-break: break-all;
}

.header {
    background: var(--primary);
    border: 3px solid var(--primary);
    color: whitesmoke;
    font-size: 1.5rem;
    height: 90px;
}

.header th:first-child {
    padding-left: 2rem;
}

.content {
    height: 80px;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    color: var(--primary);
}

.category {
    padding-left: 40px;
}

.mobile {
    display: none;
}

.line {
    width: 95%;
}

.lastline {
    border-color: transparent;
}

@media screen and (max-width: 1100px) {

    .header,
    .content {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 670px) {

    .header,
    .content {
        font-size: 1rem;
        min-height: 60px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .category {
        padding-left: 20px;
    }
}

@media screen and (max-width: 500px) {

    .header,
    .content {
        min-height: 50px;
    }

    .header th:first-child {
        padding-left: 1rem;
    }

    .header {
        font-size: 0.75rem;
    }

    .content {
        font-size: 0.85rem;
    }
}