.section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 13.5rem 5rem 3.5rem 5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5rem;
    letter-spacing: 1.25px;
    line-height: 1.4;
}

.container div:first-child {
    flex: 0.85;
}

.container div img {
    margin-bottom: -0.95rem;
}

.container p {
    color: rgb(119, 119, 119);
}

.container p i {
    font-style: normal;
    color: var(--primary);
    font-weight: bold;
}

.container a {
    color: var(--secondary);
    font-size: 1.4rem;
    font-weight: 600;
}

@media screen and (max-width: 1100px) {
    .container div:first-child {
        flex: 0.95;
    }
}

@media screen and (max-width: 900px) {

    .section {
        padding: 13.5rem 3.5rem 3.5rem 4.5rem;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container div:first-child {
        flex: 1;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 12.5rem 1.5rem 3.5rem 3.5rem;
    }

    .container {
        padding-right: 0rem;
        font-size: 1.2rem;
    }
}