.section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 12.5rem 3.5rem 3.5rem 4.5rem;
}

.container {
    font-size: 1.5rem;
    padding-right: 20rem;
    letter-spacing: 1.25px;
    line-height: 1.4;
}

.container p {
    color: rgb(119, 119, 119);
}

.container p i {
    font-style: normal;
    color: var(--primary);
    font-weight: bold;
}

.container a {
    text-decoration: none;
    color: var(--secondary);
}

@media screen and (max-width: 1000px) {
    .container {
        padding-right: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 12.5rem 1.5rem 3.5rem 3.5rem;
    }

    .container {
        padding-right: 0rem;
        font-size: 1.2rem;
    }
}